.<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="margin-top:10%"> CHANGE PASSWORD</h1>
            <br>
            <h6>Enter a new password</h6>
            <br>
            <div class="form-group">
                <input type="text" id="pass1" [(ngModel)]="pass1" class="form-control rounded-pill shadow" required
                    autofocus>
                <label class="form-control-placeholder" for="pass1">Enter new Password</label>
            </div>
            <br><br>
            <div class="form-group">
                <input type="text" id="pass2" [(ngModel)]="pass2" class="form-control rounded-pill shadow" required
                    autofocus>
                <label class="form-control-placeholder" for="pass2">Reenter new Password</label>
            </div>
            <br>
            <br>
            <h6>Don't have account yet? <a [routerLink]="['/sign-up']">SignUp</a> </h6>
            <br>
            <button class="btn btn-primary" (click)="changePasswordFunction()">Submit</button>
            <br><br>
        </div>
    </div>
</div>